{{! template-lint-disable no-inline-styles }}
<div class="auto-image" width={{@width}} height={{@height}}
    {{did-insert this.setupInViewport}}
    >
  {{#if this.isVisible}}
    <img alt={{this.title}} {{auto-scale imageSrc=@src width=@width height=@height fallbackSrc=@fallbackSrc}}>
  {{/if}}
</div>
